Sms.BooksCatalog/Sms.Forms/Service References/DataService/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20000/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20000/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20000/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sms.DL.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCatalogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogs" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCatalogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetBooks" message="tns:IDataService_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetBooksResponse" message="tns:IDataService_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatalogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetCatalogs" message="tns:IDataService_GetCatalogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetCatalogsResponse" message="tns:IDataService_GetCatalogs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dataServiceEndpoint" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalogs">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetCatalogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="dataServiceEndpoint" binding="tns:dataServiceEndpoint">
      <soap:address location="http://localhost:20000/DataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>